body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Mohave";
  src: local("Mohave"),
   url("./components/Fonts/Mohave-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ZenKaku";
  src: local("ZenKaku"),
   url("./components/Fonts/ZenKakuGothicAntique-Black.ttf") format("truetype");
  font-weight: bold;
}
 
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
   url("./components/Fonts/Poppins-Black.ttf") format("truetype");
  font-weight: bold;
}
